/* Trả chậm */
.product-section {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin: 24px auto;
  background: #fff;
  border-radius: 14px;
  padding: 14px 16px 16px;
}

.product-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.product-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-title h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1d2939;
}

/* CONTENT */
.product-content {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
}

.promo-banner {
  /* height: 420px; */
  border-radius: 12px;
  overflow: hidden;
}

.promo-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* viewport */
.promo-products {
  position: relative;
}

.promo-viewport {
  overflow: hidden;
  width: 100%;
}

/* track */
.installment-track {
  display: flex;
  width: 100%;
  transition: transform 0.35s ease;
}

/* mỗi page chiếm full viewport */
.installment-page {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* card */
.promo-card {
  background: #fff;
  border-radius: 10px;
  padding: 12px 12px 14px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

/* ảnh */
.promo-card img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  margin-bottom: 10px;

  transition: transform 0.35s ease;
}

/* hover */
.promo-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.promo-card:hover img {
  transform: translateY(-6px);
}

.tag {
  display: inline-block;
  align-self: flex-start;

  padding: 3px 8px;
  margin-bottom: 8px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.3;

  color: #555;
  background: #f2f4f7;
  border-radius: 6px;
  border: 1px solid #e4e7ec;
}

/* tên sản phẩm */
.promo-card .name {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 6px;
  min-height: 40px; /* giữ đều chiều cao title */
}

/* giá */
.promo-card .price {
  color: #d0021b;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}

.promo-card .old-price {
  font-size: 12px;
  color: #888;
  text-decoration: line-through;
  margin-bottom: 6px;
}

/* rating */
.promo-card .rating {
  font-size: 12px;
  color: #555;
}

/* arrows */
.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #0a0404;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.control.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}
